<div class="container-fluid m-5 p-5">
  <div class="row">
    <h1>Novo Arquivo</h1>
    <% if flash[:error] %>
      <div class="alert alert-danger">
        <b>Ops!</b>
        Está faltando alguma coisa
      </div>
    <% end %>
    <%= render 'form' %>
    <%= link_to 'Voltar', purchase_infos_path, :class => "btn btn-white" %>
  </div>
</div>